<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/engineer.css')}}">
</head>

<body>
    <div class="home-section">
         <header class="header">
            <nav class="navc">
                <div class="logo">
                    <img src="{{url_for('static',filename='images/logo.png')}}" alt="">
                </div>
                <ul>
                    <li class="list"><a href="{{url_for('home')}}" class="link">Home</a></li>
                    <li class="list"><a href="{{url_for('calculator')}}" class="link">Calculator</a></li>
                    <li class="list"><a href="{{url_for('bidsphere')}}" class="link">Bidsphere</a></li>
                    <li class="list"><a href="{{url_for('schemes')}}" class="link">Schemes</a></li>
                    <!-- <li class="list"><a  class="{{url_for('engineers')}}" style="color: orange;">Engineers</a></li> -->
                    <li class="list"><a href="{{url_for('profile')}}" class="link">My Profile</a></li>
                </ul>
            </nav>
        </header>
        <div class="search-for-engineers-to-find-t-parent">
            <b class="search-for-engineers">SEARCH FOR ENGINEERS TO FIND THE RIGHT ONE!</b>
            <div class="ob-forms-wrapper">
            <div class="ob-forms">
            <div class="frame">
            <div class="name">
            </div>
            </div>
            </div>
            </div>
            <div class="sort-by-parent">
            <div class="name">Sort By</div>
                <img class="frame-item" alt="" src="{{url_for('static',filename='images\Polygon 2.png')}}">
            </div>
            <div class="frame-inner">
            </div>
            <div class="click-here-to-join-wrapper">
                <a class="click-here-to" href="add engineer.html">CLICK HERE TO JOIN</a>
            </div>
            <div class="we-are-hiring-join-us-wrapper">
                <div class="we-are-hiring">WE ARE HIRING ,JOIN US!!!</div>
            </div>
            
        </div>
        <div >
            <img class="ellipse-icon" alt="" src="{{url_for('static',filename='images\Ellipse 16.png')}}">
            <img class="ellipse-icon1" alt="" src="{{url_for('static',filename='images\Ellipse 16.png')}}">
            <img class="ellipse-icon2" alt="" src="{{url_for('static',filename='images\Ellipse 16.png')}}">
            <img class="ellipse-icon3" alt="" src="{{url_for('static',filename='images\Ellipse 16.png')}}">
            <img class="ellipse-icon4" alt="" src="{{url_for('static',filename='images\Ellipse 16.png')}}">
            <img class="ellipse-icon5" alt="" src="{{url_for('static',filename='images\Ellipse 16.png')}}">
        </div>
        <div class="frame-parent">
            <div class="namexxxxx-parent">
            <div class="namexxxxx">NAME:XXXXX</div>
            <div class="frame-child">
            </div>
            </div>
            <div class="exp-xx-years">EXP: XX YEARS</div>
            <div class="placexxxxx-wrapper">
                <div class="placexxxxx">PLACE:XXXXX</div>
            </div>
            <div class="view-more-wrapper">
                <div class="view-more">VIEW MORE</div>
            </div>
        </div>
        <div class="frame-parent1">
            <div class="namexxxxx-parent">
            <div class="namexxxxx">NAME:XXXXX</div>
            <div class="frame-child">
            </div>
            </div>
            <div class="exp-xx-years">EXP: XX YEARS</div>
            <div class="placexxxxx-wrapper">
                <div class="placexxxxx">PLACE:XXXXX</div>
            </div>
            <div class="view-more-wrapper">
                <div class="view-more">VIEW MORE</div>
            </div>
        </div>
        <div class="frame-parent2">
            <div class="namexxxxx-parent">
            <div class="namexxxxx">NAME:XXXXX</div>
            <div class="frame-child">
            </div>
            </div>
            <div class="exp-xx-years">EXP: XX YEARS</div>
            <div class="placexxxxx-wrapper">
                <div class="placexxxxx">PLACE:XXXXX</div>
            </div>
            <div class="view-more-wrapper">
                <div class="view-more">VIEW MORE</div>
            </div>
        </div>
        <div class="frame-parent3">
            <div class="namexxxxx-parent">
            <div class="namexxxxx">NAME:XXXXX</div>
            <div class="frame-child">
            </div>
            </div>
            <div class="exp-xx-years">EXP: XX YEARS</div>
            <div class="placexxxxx-wrapper">
                <div class="placexxxxx">PLACE:XXXXX</div>
            </div>
            <div class="view-more-wrapper">
                <div class="view-more">VIEW MORE</div>
            </div>
        </div>
        <div class="frame-parent4">
            <div class="namexxxxx-parent">
            <div class="namexxxxx">NAME:XXXXX</div>
            <div class="frame-child">
            </div>
            </div>
            <div class="exp-xx-years">EXP: XX YEARS</div>
            <div class="placexxxxx-wrapper">
                <div class="placexxxxx">PLACE:XXXXX</div>
            </div>
            <div class="view-more-wrapper">
                <div class="view-more">VIEW MORE</div>
            </div>
        </div>
        <div class="frame-parent5">
            <div class="namexxxxx-parent">
            <div class="namexxxxx">NAME:XXXXX</div>
            <div class="frame-child">
            </div>
            </div>
            <div class="exp-xx-years">EXP: XX YEARS</div>
            <div class="placexxxxx-wrapper">
                <div class="placexxxxx">PLACE:XXXXX</div>
            </div>
            <div class="view-more-wrapper">
                <div class="view-more">VIEW MORE</div>
            </div>
        </div>
       

            