<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Main</title>

</head>

<body>
    <div class="container">
        <div class="box">
            <div class="align">
                <div class="user">
                    <img src="{{url_for('static',filename='images/user.png')}}" alt="">
                    
                    <h2 style="text-align: center;margin-top: 13px;"><a href="/login/user">User</a></h2>
                    
                </div>
                <div class="engineer">
                    <img src="{{url_for('static',filename='images/admin.png')}}" alt="">
                    <h2 style="text-align: center;margin-top: 13px;"><a href="/login/engineer">Engineer</a></h2>
                </div>
            </div>
        </div>
    </div>
</body>

</html>