<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{url_for('static',filename='css/global.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/s-c-h-e-m-e.css')}}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;1,600;1,700;1,900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Sansita Swashed:wght@800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Encode Sans SC:wght@400;500&display=swap"
    />

    <style>
      @font-face {
        font-family: "Telegraf";
        src: url("./public/PPTelegraf-Regular.otf");
        font-weight: 400;
      }
    </style>
  </head>
  <body>
    <div class="scheme">
      <div class="scheme">
        <header class="header">
          <nav class="navc">
              <div class="logo">
                  <img src="{{url_for('static',filename='public\6569d003ebc8904744f138c8-aiicon-removebg-preview 1.png')}}" alt="">
              </div>
              <ul>
                  <li class="list"><a href="{{url_for('home')}}" class="link">Home</a></li>
                  <li class="list"><a href="{{url_for('calculator')}}" class="link">Calculator</a></li>
                  <li class="list"><a href="{{url_for('bidsphere')}}" class="link">Bidsphere</a></li>
                  <li class="list"><a href="{{url_for('schemes')}}" class="link">Schemes</a></li>
                  <li class="list"><a href="{{url_for('engineers')}}" class="link">Engineers</a></li>
                  <li class="list"><a href="{{url_for('profile')}}" class="link">My Profile</a></li>
              </ul>
          </nav>
      </header>
      <section class="scheme-inner">
        <div class="frame-parent1">
          <div class="frame-wrapper">
            <div class="government-housing-schemes-in-parent">
              <div class="government-housing-schemes">
                Government Housing Schemes in India:
              </div>
              <div class="accordian-frame">
                <div class="accordian11">
                  <div class="headliue-and-ico9">
                    <i class="header9"
                      >Tamil Nadu Slum Clearance Board (TNSCB)</i
                    >
                    <div class="headliue-and-ico-inner5">
                      <div class="ellipse-parent4">
                        <div class="frame-child9"></div>
                        <img
                          class="frame-child10"
                          loading="lazy"
                          alt=""
                          src="{{url_for('static',filename='public\Vector 1.svg')}}"
                        />
                        <p class="tamil-nadu-housing9">
                          Tamil Nadu Housing Board Scheme:- Recently, the government
                          of Tamil Nadu has implemented several programmes that are
                          aimed at assisting the state’s citizens. A programme with
                          the working title Tamil Nadu Housing Board Scheme was
                          initiated by the state government. About 894 plots have been
                          distributed by the Tamil Nadu Housing Board in the city of
                          Trichy. The land parcels can be found in a variety of
                          locations across the city. The TNHB Scheme conducted the
                          auction for the plots using an online platform. In the
                          following paragraphs, we will discuss the advantages of the
                          plan as well as its primary goals. In addition, we will also
                          acquire knowledge regarding the application process and the
                          documents that are necessary for participation in the
                          scheme.
                        </p>
                      </div>
                    </div>
                  </div>
                  <img class="accordian-child6" alt="" />
                </div>
              </div>
            </div>
          </div>
          <button class="accordian12">
            <div class="headliue-and-ico10">
              <i class="header10">Tamil Nadu Housing Board (TNHB) </i>
              <div class="headliue-and-ico-inner6">
                <div class="ellipse-parent5">
                  <div class="frame-child11"></div>
                  <img
                    class="frame-child12"
                    alt=""
                    src="{{url_for('static',filename='public\Vector 1.svg')}}"
                  />
                </div>
              </div>
            </div>
            <img class="accordian-child7" alt="" />

            <div class="tamil-nadu-housing10">
              Tamil Nadu Housing Board Scheme:- Recently, the government of
              Tamil Nadu has implemented several programmes that are aimed at
              assisting the state’s citizens. A programme with the working title
              Tamil Nadu Housing Board Scheme was initiated by the state
              government. About 894 plots have been distributed by the Tamil
              Nadu Housing Board in the city of Trichy. The land parcels can be
              found in a variety of locations across the city. The TNHB
              Scheme conducted the auction for the plots using an online
              platform. In the following paragraphs, we will discuss the
              advantages of the plan as well as its primary goals. In addition,
              we will also acquire knowledge regarding the application process
              and the documents that are necessary for participation in the
              scheme.
            </div>
          </button>
          <div class="accordian13">
            <div class="headliue-and-ico11">
              <i class="header11">Solar Rooftop Capital Incentive Scheme </i>
              <div class="headliue-and-ico-inner7">
                <div class="ellipse-parent6">
                  <div class="frame-child13"></div>
                  <img
                    class="frame-child14"
                    alt=""
                    src="{{url_for('static',filename='public\Vector 1.svg')}}"
                  />
                </div>
              </div>
            </div>
            <img class="accordian-child8" alt="" />

            <div class="tamil-nadu-housing11">
              Tamil Nadu Housing Board Scheme:- Recently, the government of
              Tamil Nadu has implemented several programmes that are aimed at
              assisting the state’s citizens. A programme with the working title
              Tamil Nadu Housing Board Scheme was initiated by the state
              government. About 894 plots have been distributed by the Tamil
              Nadu Housing Board in the city of Trichy. The land parcels can be
              found in a variety of locations across the city. The TNHB
              Scheme conducted the auction for the plots using an online
              platform. In the following paragraphs, we will discuss the
              advantages of the plan as well as its primary goals. In addition,
              we will also acquire knowledge regarding the application process
              and the documents that are necessary for participation in the
              scheme.
            </div>
          </div>
          <button class="accordian14">
            <div class="headliue-and-ico12">
              <i class="header12">Pradhan Mantri Awas Yojana (PMAY)</i>
              <div class="headliue-and-ico-inner8">
                <div class="ellipse-parent7">
                  <div class="frame-child15"></div>
                  <img
                    class="frame-child16"
                    alt=""
                    src="{{url_for('static',filename='public\Vector 1.svg')}}"
                  />
                </div>
              </div>
            </div>
            <img class="accordian-child9" alt="" />

            <div class="tamil-nadu-housing12">
              Tamil Nadu Housing Board Scheme:- Recently, the government of
              Tamil Nadu has implemented several programmes that are aimed at
              assisting the state’s citizens. A programme with the working title
              Tamil Nadu Housing Board Scheme was initiated by the state
              government. About 894 plots have been distributed by the Tamil
              Nadu Housing Board in the city of Trichy. The land parcels can be
              found in a variety of locations across the city. The TNHB
              Scheme conducted the auction for the plots using an online
              platform. In the following paragraphs, we will discuss the
              advantages of the plan as well as its primary goals. In addition,
              we will also acquire knowledge regarding the application process
              and the documents that are necessary for participation in the
              scheme.
            </div>
          </button>
          <button class="frame-button">
            <div class="accordian15">
              <div class="headliue-and-ico13">
                <i class="header13">Rajiv Gandhi Awas Yojana Housing Scheme</i>
                <div class="headliue-and-ico-inner9">
                  <div class="ellipse-parent8">
                    <div class="frame-child17"></div>
                    <img
                      class="frame-child18"
                      alt=""
                      src="{{url_for('static',filename='public\Vector 1.svg')}}"
                    />
                  </div>
                </div>
              </div>
              <img class="accordian-child10" alt="" />

              <div class="tamil-nadu-housing13">
                Tamil Nadu Housing Board Scheme:- Recently, the government of
                Tamil Nadu has implemented several programmes that are aimed at
                assisting the state’s citizens. A programme with the working
                title Tamil Nadu Housing Board Scheme was initiated by the state
                government. About 894 plots have been distributed by the Tamil
                Nadu Housing Board in the city of Trichy. The land parcels can
                be found in a variety of locations across the city. The TNHB
                Scheme conducted the auction for the plots using an online
                platform. In the following paragraphs, we will discuss the
                advantages of the plan as well as its primary goals. In
                addition, we will also acquire knowledge regarding the
                application process and the documents that are necessary for
                participation in the scheme.
              </div>
            </div>
            <div class="line-div"></div>
          </button>
          <div class="accordian16">
            <div class="headliue-and-ico14">
              <i class="header14">Pradhan Mantri Gramin Awas Yojana</i>
              <div class="headliue-and-ico-inner10">
                <div class="ellipse-parent9">
                  <div class="frame-child19"></div>
                  <img
                    class="frame-child20"
                    alt=""
                    src="{{url_for('static',filename='public\Vector 1.svg')}}"
                  />
                </div>
              </div>
            </div>
            <img class="accordian-child11" alt="" />

            <div class="tamil-nadu-housing14">
              Tamil Nadu Housing Board Scheme:- Recently, the government of
              Tamil Nadu has implemented several programmes that are aimed at
              assisting the state’s citizens. A programme with the working title
              Tamil Nadu Housing Board Scheme was initiated by the state
              government. About 894 plots have been distributed by the Tamil
              Nadu Housing Board in the city of Trichy. The land parcels can be
              found in a variety of locations across the city. The TNHB
              Scheme conducted the auction for the plots using an online
              platform. In the following paragraphs, we will discuss the
              advantages of the plan as well as its primary goals. In addition,
              we will also acquire knowledge regarding the application process
              and the documents that are necessary for participation in the
              scheme.
            </div>
          </div>
        </div>
      </section>
    </div>
    <script>
    
  const accordions = document.querySelectorAll('.accordian-frame');

  accordions.forEach(acc => {
    acc.addEventListener('click', function() {
      // Toggle the active class on the clicked accordion
      this.classList.toggle('active');

      // Toggle the display of the content
      const content = this.querySelector('.accordian-child6');
      if (content.style.maxHeight) {
        content.style.maxHeight = null;
      } else {
        // Set the max-height to the scroll height of the content to show it
        content.style.maxHeight = content.scrollHeight + 'px';
      }
    });
  });
</script>
    
  </body>
  
</html>
